.title {
  background-color:royalblue;
  color:white;
  padding:10px;
}
<<<<<<< HEAD
a.hed:link, a.hed:visited {
=======
a:link, a.hed:visited {
>>>>>>> a0d8caf2995c62f5d6438b139123ea5dbd7e0aa4
    background-color: #f44336;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
}
<<<<<<< HEAD
a.link:link, a.link:visited{
  background-color: #f44336;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a.hed:hover, a.hed:active {
=======
a.hed:link, a.hed:visited {
  display: block;
}
a:hover, a:active {
>>>>>>> a0d8caf2995c62f5d6438b139123ea5dbd7e0aa4
    background-color: red;
}
